  body{
    background-color: white;
  }
  a{
    text-align: center;
    background-color: orange;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-decoration: solid;
    width: 320px;

  }
  button{
    background-color: orange;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
  }


